.dashBoard{
    width: 800px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashBoard ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.dashBoard ul li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.dashBoard ul li a{
    padding: 30px;
    width: 300px;
    font-size: 18px;
    color: #222;
    height: 150px;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #CCC;
    display: block;
    border-bottom: 1px solid rgba(52, 32, 84, 0.33);
}
.dashBoard ul li a img{
    display: block;
    width: 50px;
    margin: 0 auto 10px;
}

.dashBoard ul li a:hover{
    text-decoration: none;
    background: #816da2;
    color: #FFF;
}


.contentPd{
    position: relative;
    height: 100%;
}

.header{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	background: #342054;
	z-index: 10;
	overflow: hidden;
}

.logo{
	padding: 10px;
	width: 170px;
	display: inline-block;
}

.topNav{
	float: right;
}

.topNav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
}

.topNav ul li{
	float: left;
	border-left: 1px solid #CCC;
}

.topNav ul li a{
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding: 21px 30px;
}

.topNav ul li a:hover{
	background: #3f2a63;
	text-decoration: none;
	color: #FFF;
}

.sideBar{
	position: fixed;
	left: 0px;
	top: 0px;
	background: #3f2a63;
	width: 250px;
	height: 100%;
	z-index: 9;
	padding-top: 65px;
}

.sideBar .userPro{
	padding: 30px 20px;
	text-align: center;
	background: #342054;
	border-bottom: 1px solid #513979;
}

.sideBar .userPro figure{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
}

.sideBar .userPro h4{
	margin: 20px 0 0;
	color: #FFF;
}

.navList{
	margin:0;
	padding: 0px;
	list-style: none;
}

.navList li{
	display: block;
}

.navList li a{
	display: block;
	padding: 15px;
	color: #FFF;
}

.navList li a:hover{
	background: #342054;
	text-decoration: none;
}

.content{
	padding: 30px;
	padding-left: 280px;
	padding-top: 95px;
	height: 100vh;
	background: #f1eff4;
}

.mainHEading{
	margin: 0 0 30px;
	font-size: 25px;
	font-weight: normal;
}

.profileWidget, 
.lifeWidget{
	overflow: hidden;
	margin: 0 -10px;
}

.profileWidget label, 
.lifeWidget label{
	float: left;
	width: 31%;
	margin: 0 10px;
	background: #FFF;
	box-shadow: 0 0 10px #CCC;
	padding: 20px;
	display: inline-block;
	margin-bottom: 20px;
	font-weight: normal;
	border-bottom: 1px solid rgba(52, 32, 84, 0.33);
}

.profileWidget label span, 
.lifeWidget label span{
	display: block;
	margin-bottom: 2px;
}

.profileWidget label b, 
.lifeWidget label b{
	font-size: 22px;
	color: #342054;
	display: block;
	font-weight: normal;
}

#tableStyle_wrapper{
	background: #FFF;
	box-shadow: 0 0 10px #CCC;
	padding: 20px;
	display: block;
	margin-bottom: 20px;
	font-weight: normal;
	border-bottom: 1px solid rgba(52, 32, 84, 0.33);
}
#tableStyle_wrapper label input, 
#tableStyle_wrapper label select{
	padding: 5px;
	border: 1px solid #CCC;
}

.content.loginPage{
    padding: 30px;
}
.userForm{
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userForm label{
    font-weight: normal;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding: 0 10px;
    margin-bottom: 20px;
}
.userForm label label{
    font-size: 11px;
    color: red;
    display: block;
    width: auto;
    padding: 0px;
}

.userForm label.fullField{
    float: none;
    width: 100%;
}

.userForm label span{
    display: block;
    margin-bottom: 2px;
}
.userForm label input{
    box-shadow: 0 0 3px #CCC;
    border: 0px;
    border-bottom: 1px solid rgba(52, 32, 84, 0.33);
    padding: 10px;
    width: 100%;
}

.userForm .btnCol{
    clear: both;
    padding: 0 10px;
}
.userForm .btnCol input{
    padding: 10px 20px;
    border: 0px;
    background: #342054;
    color: #FFF;
}
